<template>
  <div class="home">
    <header-vue/>

  </div>
  
  
</template>

<script>
import HeaderVue from '../components/Header.vue';
import { mapState } from "vuex";
// @ is an alias to /src

export default {
  name: 'home',
  components: {
HeaderVue,
  },
  computed:{
    ...mapState([
      'user'
    ])
  }
}
</script>
