<template>
  <header>
    <section>
      <input type="text" v-model="input">
      <button @click="login()">Change Name</button>
    </section>
    <section v-if="user">
      <p>Salut {{user}}</p>
      <button @click="logout()">Logout</button>
    </section>
  </header>
</template>

<script>
export default {
  data() {
    return {
      input: ""
    };
  },
  methods: {
    login() {
      this.$store.commit('CHANGE_USER', this.input);
    },
    logout() {
      this.$store.commit('CHANGE_USER', null)
    }
  },
  computed: {
      user(){
          return this.$store.state.user
      }
  }
};
</script>

<style>
</style>
